NEXT_PUBLIC_API_BASE_URL=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=dev-secret
COGNITO_CLIENT_ID=
COGNITO_CLIENT_SECRET=
COGNITO_ISSUER=
NEXT_PUBLIC_BANNERS_BUCKET=
NEXT_PUBLIC_TICKETS_BUCKET=
NEXT_PUBLIC_REGION=ap-south-1
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
